@import "tailwindcss";

@font-face {
    font-family: 'PyeojinGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

body {
  font-family: Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", sans-serif;
font-weight: 450;

}